/* line 1, ../sass/_lobby.scss */
#chatMessages {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
}

/* line 8, ../sass/_lobby.scss */
#content-chat {
  height: 350px;
}

/* line 1, ../sass/_game.scss */
#game {
  margin: auto;
  display: block;
  position: relative;
  width: 800px;
  height: 600px;
}

/* line 9, ../sass/_game.scss */
#fight, #game_over {
  display: none;
  position: absolute;
  top: 250px;
  left: 150px;
}
